
.massageBlock{
	width: 25%;
	background-color: #61B2FA;
	height: 225px;
	padding: 10px;
	border-radius: 5px;
}
.insideMassageBlock{
	margin: auto;
	width:100%;
	height: 100%;
}
.inputBlock{
	width: 100%;
	display: inline-block;
}
.Text{
	font-size: 16px;
	float: left;
}
.Input{
	float: right;
}
.bl-Main{
    margin:20px auto;
	padding: 5px;
	width: 45%;
	min-height: 450px;
	background-color: #E4E4E4;
	border: 2px solid #C7CACA;
}

.bl-info{
	width: 100%;
	height: auto;
}
.bl-tit{
	width: 100%;
	height: 100%; 
	display: inline-block;
}
.name{
	font-weight: 600;
	font-size: 20px;
	float: left;
	margin-top: 24px;
}
.date{
	float: left;
	color: #737373;
	font-size: 15px;
	font-weight: 700;
}
.bl-title{
	text-indent: 1.3em;
	width: 80%;
	min-height: 100px;
	margin: 10px auto;
    padding-left: 4px;
	font-size: 30px;
	font-weight: 900;
	background-color: #5E5D5B;
	color: #E4E4E4;
	border-radius: 0px 10px 10px 0px;
    border-left: 4px solid #009EFF;	
}
.bl-description{
	width: 80%;
	min-height: 200px;
	margin: 10px auto;
    padding-left: 4px;
	background-color: #5E5D5B;
	color: #E4E4E4;
	border-radius: 0px 10px 10px 0px;
    border-left: 4px solid #F22E32;	
    font-size: 20px
}
.bl-description p{
	text-indent: 1.2em;
}
.buttonDel {
  float: right;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
.buttonDel:hover { background: rgb(53, 167, 110); }
.buttonDel:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.buttonEdit {
  float: right;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
.buttonEdit:hover { background: rgb(53, 167, 110); }
.buttonEdit:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

#PU-block{
    display: none;
	margin: 10px;
	width: 300px;
	position: fixed;
	border: 1px solid black;
    left:40%;
    top: 25%;
    background-color: #f0cdf7;
    opacity: 0.8;
}

#PU-block-Tit{
	width: 90%;
	height: 10%;
	padding: 3%;
	margin: 1.5%;
}
#PU-block-Des{
	width: 90%;
	height: 55%;
	padding: 3%;
	margin: 1.5%;
}
#PU-block-Sub{
	width: 90%;
	height: 10%;
	padding: 3%;
	margin: 20px 1.5% 1.5% 1.5%;
	text-align: center;
}
#PU-Tit{
	float: left;
	width: 40%;
	height: 100%;
	font-size: 25px;
	font-weight: 700;
}
#PU-in-Tit{
	width: 55%;
	height: 100%;
	float: right;
}
#PU-Des{
	width: 100%;
	height: 20%;
	font-size: 30px;
}
#PU-in-Des{
	width: 100%;
	height: 75%;
	margin-top: 10px;
}
#buttonSave {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
#buttonSave:hover { background: rgb(53, 167, 110); }
#buttonSave:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.button {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
.button:hover { background: rgb(53, 167, 110); }
.button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.bl-log{
	width: 300px;
	height: 200px;
	position: fixed;
	top: 25%;
	left: 40%;
	border: 1px solid black;
    background-color: #ccc;
}
.bl-inpt{
	width: 80%;
	height: 20%;
	margin: auto;
	margin-top: 6%;
}
.bl-textLog{
	height: 100%;
	width: 50%;
	float: left;
}
.bl-inptLog{
	width: 40%;
	height: 100%;
	float: right;
}
.bl-text{
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
}

.bl-User-Main{
	width: 100%;
	height: 200px;
	margin: auto;
	padding: 1%;
	position: relative;
	display: table;
	background-color: #e1e2e0;
}
.bl-Content-User{
	width: 30%;
	height: 100%;
	margin: 0% 1% 0% 2%;
	padding: 5px;
	float: left;
	background-color: #a5a5a5;
}
.bl-Content-UsName{
	width: 250px;
	height: 60%;
	margin: 10% 0% 9% 19%;
}
.fl-Content-UsName{
	width: 100%;
	height: 50%;
	text-align: center;
	font-size: 3em;
	font-style: italic;
}
.bl-Content-Img{
	width: 60%;
	height: 100%;
	margin: 0% 0% 0% 20%;
}
.fl-Content-Img{
	width: 170px;
	height: 170px;
	margin: 0% 0% 4% 15%;
}
.fl-Content-ImgBorder{
    border: 3px solid #8c8c8c
}
.bl-Content-Info{
	width: 100%;
	height: 100%;
}
.fl-Content-Info{
	width: 100%;
	height:  25%;
	font-size: 2em;
	font-weight: 700;
}
.btn-Content-Info{
	width: 100%;
	height:  25%;
}
.btn-custum{
	background-color: #272366;
}

.bl-allUsers{
	margin: 5%;
	padding: 2%;
	width: 40%;
	height: 200px;
	border: 1px solid black;
	position: relative;
}
.bl-allUser-Img{
	padding: 2px;
	width: 30%;
	height: 100%;
	float: left;
}
.fl-allUser-Img{
	margin: 7% 0% 5% 8%;
	width: 120px;
	height: 120px;

}
.bl-allUser-Content{
	width: 60%;
	height: 100%;
	float: right;
}
.bl-allUser-ContentPart{
	width: 100%;
	height: 25%;
	padding: 2px;
	text-align: center;
}
.bl-allUser-ContentText{
	height: 100%;
	font-weight: 700;
	font-size: 1.6em;
}