<div ng-controller="phoneController">
    <div ng-repeat="button in modes">
        <label>
            <input type="radio" ng-model="data.mode" value="{{button.value}}" name="modes" />
            {{button.label}}
        </label>
    </div>
    <div ng-switch on="data.mode">
        <div ng-switch-when="Tablets">
            <ul>
                <li ng-repeat="tablet in tablets">
                    <b>{{tablet.name}}</b>
                    <p>Цена: {{tablet.price}} $</p>
                    <p>Производитель: {{tablet.company}}</p>
                </li>
            </ul>
        </div>
        <div ng-switch-when="Phones">
            <ul>
                <li ng-repeat="phone in phones">
                    <b>{{phone.name}}</b>
                    <p>Цена: {{phone.price}} $</p>
                    <p>Производитель: {{phone.company}}</p>
                </li>
            </ul>
        </div>
        <div ng-switch-default>
            Выберите товары для просмотра
        </div>
    </div>
</div>
<script type="text/javascript">
    var myApp = angular.module('myApp',[]);
    myApp.controller('phoneController', function ($scope) {

        $scope.phones = [{
            name: 'Nokia Lumia 630',
            year: 2014,
            price: 200,
            company: 'Nokia'
        }, {
            name: 'Samsung Galaxy S 4',
            year: 2014,
            price: 400,
            company: 'Samsung'
        }, {
            name: 'Mi 5',
            year: 2015,
            price: 300,
            company: 'Xiaomi'
        }];
        $scope.tablets = [{
            name: 'Samsung Galaxy Tab S4',
            year: 2014,
            price: 300,
            company: 'Samsung'
        }, {
            name: 'LG G PAD 8.3',
            year: 2013,
            price: 180,
            company: 'LG'
        }, {
            name: 'IdeaTab A8',
            year: 2014,
            price: 220,
            company: 'Lenovo'
        }];
        $scope.data = {};
        $scope.modes = [{
            value: 'Tablets',
            label: 'Планшеты'
        }, {
            value: 'Phones',
            label: 'Смартфоны'
        }];
    });
</script>